.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    li {
        a {
            color: white;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}