@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Michroma, sans-serif;
}

ul,
body,
html {
  list-style: none;
  padding: 0;
  margin: 0;
}
body,
html {
  max-height: 100vh;
    overflow: hidden;
    background: rgb(27, 27, 27);
    /* outline: 10px solid black; */
}

:root {
  /* font-size: clamp(20px, 1vw, 23px); */
    background: rgb(27, 27, 27);
    outline: 10px solid black;
}

 @media screen and (min-width: 481px) {
  :root {
    font-size: clamp(16px, 3vw, 20px);
  }
}

@media screen and (max-width: 480px) {
  :root {
    font-size: clamp(12px, 3vw, 16px);
  }
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}